ConsumeConversionService/ConsumeConversionService/Connected Services/ConverTemperarture/ConvertTemperature.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CelciusToFahrenheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="celcius" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelciusToFahrenheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelciusToFahrenheitResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitToCelcius">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Fahrenheit" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitToCelciusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FahrenheitToCelciusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>